{% extends "layout.njk" %}
{% set pageTitle = "Home" %}

{% block content %}
<div class="govuk-width-container">
  <h1 class="govuk-heading-l">Welcome</h1>
  <p class="govuk-body">
    Go to your <a class="govuk-link" href="/tasks">tasks list</a>.
  </p>
</div>
{% endblock %}