{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}Welcome – HMCTS Tasks{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Welcome</h1>
  <p class="govuk-body">Manage simple case tasks: create, view, update status, and delete.</p>

  {{ govukButton({
    text: "View tasks",
    href: "/tasks",
    isStartButton: true
  }) }}
{% endblock %}