{# Preferred (works with the govukRoot loader above) #}
{% extends "govuk/template.njk" %}

{# or this also works #}
{# {% extends "govuk-frontend/govuk/template.njk" %} #}

{% from "govuk/components/header/macro.njk"   import govukHeader %}
{% from "govuk/components/footer/macro.njk"   import govukFooter %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block pageTitle %}HMCTS Tasks{% endblock %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "HMCTS Tasks",
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: { text: "beta" }
  }) }}
{% endblock %}

{% block content %}
  {# child templates provide content #}
{% endblock %}

{% block footer %}
  {{ govukFooter({}) }}
{% endblock %}

{% block bodyEnd %}
  {% include "webpack/js.njk" %}
{% endblock %}