{% extends "layout.njk" %}
{% set pageTitle = "Tasks" %}

{% block content %}
<div class="govuk-width-container">
  <h1 class="govuk-heading-l">Tasks</h1>

  {% if tasks and tasks.length %}
    <ul class="govuk-list govuk-list--bullet">
      {% for t in tasks %}
        <li>
          <strong>{{ t.title }}</strong> – {{ t.status }} ({{ t.caseNumber }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="govuk-body">No tasks yet.</p>
  {% endif %}
</div>
{% endblock %}